{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <div class="media">
            <div>
                <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
            </div>
            
            <div class="media-body">
                <h1 class="account-heading">{{ user.username}}</h1>
                <h3 class="text-secondary">{{ user.email }}</h3>
                <h3>{{ user.profile.bio }}</h3>
                <h4>{{ user.profile.genre }}</h4>

            </div>
            <div>
                <a class="btn text-secondary" href="{% url 'profile-update' %}">Edit Profile</a>
            </div>

        </div>
    </div>
{% endblock content %}